<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bill Splitting</title>

    <!-- Angular -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
	<script src="app.js"></script>
    
    <!-- Bootstrap Styling -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container title">
	  <div class="row">
		<h1>Bill Splitting</h1>
	  </div>
		<div class="container" ng-app="app" ng-controller="SplitCtrl">
			<div class="row" id="inputs">
				<div class="col-md-4">
					<input ng-model="newPerson">
					<button ng-click="addRoommate(newPerson)">Add Roommate</button>
				</div>

				<div class="col-md-8" id="inputPayment">
					<div class="input-group">
						<input type="text" class="form-control"placeholder="What did you pay for?">
						<!-- Change to dropdown -->
						<input type="text" class="form-control"
						placeholder="Who paid?"> 
						<input type="text" class="form-control"
						placeholder="How much">
						<button>Submit</button>
					</div>	
				</div>
			</div>
			<div class="row" id="inputs">
				<div class="col-md-4">
					<div class="people">Roommates
						<ul>
							<li ng-repeat="roommate in roommates">{{ roommate }}</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<table ng-table="tableParams" class="table">
						<tr ng-repeat="item in $data">
							<td data-title="'Item'">{{ item.name }}</td>
							<td data-title="'Cost'">{{ item.age }}</td>
							<td data-title="'Payer'">{{ item.age }}</td>
						<!-- 	<td ng-repeat="roommate in roommates" data-title={{ roommate }}></td> -->
						</tr>
					</table>
				</div>
			</div>
		</div>
	   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>